<!doctype html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='css/style.css' />
    {{#if extlinks}}
      {{! loop through external styles here }}
    {{/if}}
  </head>
  <body>
    {{{body}}}
  </body>
</html>