<!DOCTYPE html>
<html>
  <head>
    <title>Shots</title>
    <link rel='stylesheet' href='/stylesheets/dark.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <script type="text/javascript">
	    WebFontConfig = {
	      google: { families: [ 'Ubuntu:400,700:latin' ] }
	    };
	    (function() {
	      var wf = document.createElement('script');
	      wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
	        '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
	      wf.type = 'text/javascript';
	      wf.async = 'true';
	      var s = document.getElementsByTagName('script')[0];
	      s.parentNode.insertBefore(wf, s);
	    })(); 
	</script>
  </head>
  <body>
    <h1>Marie Bergeron on Dribbble</h1>

	<!-- <article class="tile four columns">
          <div class="panel radius">
          <header class="meta">
          <span class="author">Mashappslabs</span>
          <span class="time">2:02:33 AM</span>
        </header>
        <section class="content">
        <h3 class="yt-header">Toumani Diabateh - Master Kora Player</h3>  
          <div class="flex-video widescreen">
                <iframe width="420" height="315" src="http://www.youtube.com/embed/pqImC_1P2vY" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="desc">
              Toumani Diabaté is a Malian kora player. In addition to performing the traditional music of Mali, he has also been involved in 
              cross-cultural collaborations with flamenco, blues, jazz, and other international styles.
            </div>
          </section>
          <footer class="yt-footer">
            <span>25 responses</span>
            <span>Music,World</span>
            <span>Permalink</span>
          </footer>
         </div>
        </article> -->

    <section id="thegrid">
    	<% for ( var i = 0, shots = feed.shots; i < shots.length; i++) { %>
			<article class="tile four columns">
				<div class="panel radius">
					<header class="meta">
			          <span class="author">Mashappslabs</span>
			          <span class="time">2:02:33 AM</span>
			        </header>
					<section class="content">
						<h3 class="yt-header"><%= shots[i].title %></h3>	
						<div class="desc">
							<figure><img src="<%= shots[i].image_url %>" alt=""></figure>
						</div>	
					</section>
					<footer class="yt-footer">
			            <span>25 responses</span>
			            <span>Music,World</span>
			            <span>Permalink</span>
		          	</footer>
				</div>	
			</article>
    	<% } %>
    </section>
	<script src="javascripts/plugins/jquery.js"></script>
	<script src="javascripts/plugins/jquery.wookmark.js"></script>
	<script>
		$(document).imagesLoaded(function() {
		  var $container = $('#thegrid');	
		  $("article").wookmark({
		    align: "center",
		    autoResize: true, // This will auto-update the layout when the browser window is resized.
		    container: $container, // Optional, used for some extra CSS styling
		    offset: 2, // Optional, the distance between grid items
		    itemWidth: 400 // Optional, the width of a grid item,
		  });
		});
		// $container.isotope({
		// 	cellsByColumn: {
		// 	    columnWidth: 400,
		// 	    rowHeight: 360
		// 	}
		// });
	</script>
  </body>
</html>