  <style type="text/css">
  	.dummy {display:none;}
    .ph {line-height: 32px;}
  </style>
  <script>
  	/*! lazyload v0.8.5 fasterize.com | github.com/fasterize/lazyload#licence */
		window.lzld||function(e,d){function n(){p=!0;g();setTimeout(g,25)}function q(a,b){var c=0;return function(){var d=+new Date;d-c<b||(c=d,a.apply(this,arguments))}}function h(a,b,c){a.attachEvent?a.attachEvent&&a.attachEvent("on"+b,c):a.addEventListener(b,c,!1)}function l(a,b,c){a.detachEvent?a.detachEvent&&a.detachEvent("on"+b,c):a.removeEventListener(b,c,!1)}function r(a,b){return x(d.documentElement,a)&&a.getBoundingClientRect().top<y+z?(a.onload=null,a.removeAttribute("onload"),a.onerror=null,a.removeAttribute("onerror"),
		a.src=a.getAttribute(k),a.removeAttribute(k),f[b]=null,!0):!1}function s(){return 0<=d.documentElement.clientHeight?d.documentElement.clientHeight:d.body&&0<=d.body.clientHeight?d.body.clientHeight:0<=e.innerHeight?e.innerHeight:0}function t(){var a=f.length,b,c=!0;for(b=0;b<a;b++){var d=f[b];null!==d&&!r(d,b)&&(c=!1)}c&&p&&(m=!0,l(e,"resize",u),l(e,"scroll",g),l(e,"load",n))}function v(){m=!1;h(e,"resize",u);h(e,"scroll",g)}function A(){var a=HTMLImageElement.prototype.getAttribute;HTMLImageElement.prototype.getAttribute=
		function(b){return"src"===b?a.call(this,k)||a.call(this,b):a.call(this,b)}}function w(a,b,c){var d;if(b){if(Array.prototype.indexOf)return Array.prototype.indexOf.call(b,a,c);d=b.length;for(c=c?0>c?Math.max(0,d+c):c:0;c<d;c++)if(c in b&&b[c]===a)return c}return-1}var z=200,k="data-frz-src",y=s(),f=[],p=!1,m=!1,u=q(s,20),g=q(t,20);e.HTMLImageElement&&A();e.lzld=function(a){-1===w(a,f)&&(m&&v(),r(a,f.push(a)-1))};(function(a){function b(c){"readystatechange"===c.type&&"complete"!==d.readyState||(l("load"===
		c.type?e:d,c.type,b),f||(f=!0,a()))}function c(){try{d.documentElement.doScroll("left")}catch(a){setTimeout(c,50);return}b("poll")}var f=!1,g=!0;if("complete"===d.readyState)a();else{if(d.createEventObject&&d.documentElement.doScroll){try{g=!e.frameElement}catch(k){}g&&c()}h(d,"DOMContentLoaded",b);h(d,"readystatechange",b);h(e,"load",b)}})(function(){for(var a=d.getElementsByTagName("img"),b,c=0,e=a.length;c<e;c+=1)b=a[c],b.getAttribute(k)&&-1===w(b,f)&&f.push(b);t();setTimeout(g,25)});h(e,"load",
		n);v();var x=d.documentElement.compareDocumentPosition?function(a,b){return!!(a.compareDocumentPosition(b)&16)}:d.documentElement.contains?function(a,b){return a!==b&&(a.contains?a.contains(b):!1)}:function(a,b){for(;b=b.parentNode;)if(b===a)return!0;return!1}}(this,document);
  </script>
  <script type="text/javascript">
	    WebFontConfig = {
	      google: { families: [ 'Ubuntu:400,700:latin' ] }
	    };
	    (function() {
	      var wf = document.createElement('script');
	      wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
	        '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
	      wf.type = 'text/javascript';
	      wf.async = 'true';
	      var s = document.getElementsByTagName('script')[0];
	      s.parentNode.insertBefore(wf, s);
	    })(); 
	</script>
  
    <h1>Drew Wilson on Dribbble</h1>
    <section id="thegrid">
    	{{#each feed.shots }}
			<article class="tile four columns">
				<div class="panel radius">
					<header class="meta">
			          <span class="author">Mashappslabs</span>
			          <span class="time">2:02:33 AM</span>
			        </header>
					<section class="content">
						<h3 class="yt-header">{{title}}</h3>	
						<div class="desc">
							<figure>
								<img src="{{image_url}}" width="400" height="300" />
								{{! <img width="400" height="300"
						    data-frz-src="{{image_url}"
						    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==
						    onload=lzld(this) onerror=lzld(this)" /> }}
							</figure>
						</div>
						<p class="ph"></p>	
					</section>
					<footer class="yt-footer">
            <span><b>{{views_count}}</b> views </span>
            <span><b>{{comments_count}} comments </b></span>
            <span><b>{{likes_count}}</b> likes</span>
        	</footer>
				</div>	
			</article>
    	{{/each }}
    </section>
    <div id="dummyone" class="dummy">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, maxime commodi ullam pariatur suscipit fuga maiores sit ut. Voluptatum, iusto!</div>
    <div id="dummytwo" class="dummy">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, dolorem, at, adipisci beatae minus dignissimos facilis aut quibusdam laborum a nihil deleniti fuga autem repellendus eum voluptatibus ipsum nulla error eos nobis voluptate ab quia perferendis mollitia deserunt nam blanditiis?</div>
    <div id="dummythree" class="dummy">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione doloribus perspiciatis eaque magni qui aliquid explicabo tempore harum voluptates temporibus. Reiciendis, saepe ad culpa sapiente modi aperiam debitis. Porro, qui, at, aliquid totam quasi error nemo voluptates iusto ab atque optio voluptate ullam consequatur dolor earum iste molestiae tempore nisi similique placeat cumque vitae minus molestias doloremque deleniti tempora laudantium.</div>
	<script src="javascripts/plugins/jquery.js"></script>
  <script src="javascripts/plugins/imagesloaded.js"></script>
	<script src="javascripts/plugins/jquery.wookmark.js"></script>
	<script>
    var dms = ["one", "two", "three"],
      $ph = $('.ph');
    $.each($ph, function() {
        var rand = Math.floor( ( Math.random() * 3 ) );
        console.log(rand);
        $(this).html($('#dummy'+dms[rand]).html() );
      });
		$(document).imagesLoaded(function() {
		  var $container = $('#thegrid');	
		  
		  $("article").wookmark({
		    align: "center",
		    autoResize: true, // This will auto-update the layout when the browser window is resized.
		    container: $container, // Optional, used for some extra CSS styling
		    offset: 8, // Optional, the distance between grid items
		    //itemWidth: 400 // Optional, the width of a grid item,
		  });
		});
		// $container.isotope({
		// 	cellsByColumn: {
		// 	    columnWidth: 400,
		// 	    rowHeight: 360
		// 	}
		// });
	</script>