<!DOCTYPE html>
<html>
  <head>
    <title><%= meta.item.split('.')[0] %></title>
    <link rel="stylesheet" href='/stylesheets/off.css'/>
  </head>
  <body>
    <h1><%= meta.item.split('.')[0] %></h1>
    <section id="offline">
      <img src="/<%= meta.path %>/<%= meta.item %>" alt="" />
    </section>  
  </body>
</html>