<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href='/stylesheets/off.css'/>
    <link rel="stylesheet" href='/stylesheets/hover.css'/>
  </head>
  <body>
    <h1>{{title}}!!</h1>
    <section id="offline">
      <ul>
      {{#each folio}}
        <li>
          <a href="folio/{{this}}">
            <img src="{{this}}" alt="" />
            <section class="meta">
              <h3>Lorem ipsum..</h3>
              <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt, corporis, similique pariatur explicabo consequatur beatae nostrum quis nulla tenetur quam vel eius sunt. Eaque, maiores.
              </p>
            </section>
          </a>
        </li>
      {{/each}}
      </ul>
    </section>  
  </body>
</html>