<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href='/stylesheets/off.css'/>
  </head>
  <body>
    <h1><%= title %></h1>
    <section id="offline">
      <ul>
      <% for ( var i = 0; i < folio.length; i++) { %>
        <li>
          <a href="folio/<%= folio[i] %>">
            <img src="<%= folio[i] %>" alt="" />
            <section class="meta">
              <h3>Lorem ipsum..</h3>
              <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt, corporis, similique pariatur explicabo consequatur beatae nostrum quis nulla tenetur quam vel eius sunt. Eaque, maiores.
              </p>
            </section>
          </a>
        </li>
      <% } %>
      </ul>
    </section>  
  </body>
</html>