*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* line 6, ../sass/dark.scss */
html {
  font-size: 62.5%; }

/* line 39, ../sass/dark.scss */
body {
  font-family: "Open Sans", Helvetica, Arial;
  font-size: 1.4rem;
  line-height: 2.2rem;
  color: rgb(79,79,79);
  padding: 0;
  margin: 0;
}

html, body {
  height: 100%;
  width: 100%;
  overflow-x: hidden; }

header {
  background: #000;
  color: #fff;
  height: 7.8rem;
  line-height: 7.8rem;
  margin: 0 0 2.4rem;
  padding-left: 2.4rem;
}

#thegrid {
  width: 100%;
  position: relative;
  margin: 0 auto;
}

.panel {
  background-color: #fff;
  border: 1px solid #ebebeb;
}

.tile {
  width: 180px;
  float: left;
  position: relative;
  margin: 0; }
.vip {
  border: 1px solid #e76049;
}
.vip > figure > img {

}
.box-office {
  width: 400px;
  background-color: #e76049;
  height: auto;
}
figure {
  margin: 0; }

img, iframe {
  max-width: 100%;
}

article header {
  border-bottom: 0.2rem solid #1F263B; }
article footer {
  border-top: 0.2rem solid #1F263B; }

/* line 106, ../sass/dark.scss */
article header {
  border-bottom: 1px solid #2e2e2e;
  padding: 2rem; }

/* line 111, ../sass/dark.scss */
article .content h3 {
  padding: 1rem 2rem;
  font-size: 2.6rem;
  line-height: 3rem;
  margin: 0; }

/* line 115, ../sass/dark.scss */
article .content .desc {
  font-size: 1.6rem;
  line-height: 3.2rem;
  color: #fff; }

/* line 121, ../sass/dark.scss */
article .content p {
  margin-bottom: 0;
  margin-top: 1.7rem;
  padding: 0 2rem; }

/* line 127, ../sass/dark.scss */
article footer {
  border-top: 0.1rem solid #2e2e2e;
  margin-top: 1.7rem;
  padding: 2rem; }
.details {
  position: relative;
}
.details > .arrow {
  position: absolute;
  display: block;
  width: 2.4rem;
  height: 2.4rem;
  top: -1rem;
  left: 2.4rem;
  z-index: 100;
  background-color: #fff;
  -webkit-transform: rotate(45deg);
}
.yt-header {
  background-color: #CD314C; }

.desc a {
  display: block; }
.desc figure {
  overflow: hidden; }
  .desc figure img {
    /*-webkit-transition: all 0.5s ease;*/ }
    .desc figure img:hover {
      cursor: pointer;
      /*-webkit-transform: scale(1.25); */}
