* {
  box-sizing: border-box; }

*:before, *:after {
  display: table; }

body {
  max-width: 1480px;
  margin: 0 auto;
  background-image: url("../images/bk_body.jpg"); }

.mainheader, h1 {
  color: #AE0345; }

#featured {
  height: 516px;
  display: block; }

h1 {
  font-size: 26px; }

figure {
  margin: 0;
  padding: 0; }

figure {
  width: 180px;
  height: 269px; }

img {
  height: 267px;
  width: 100%;
  border-radius: 8px; }

#featured img {
  width: 100%;
  height: 100%; }

.poster {
  width: 344px;
  height: 510px; }

.poster > img {
  height: 100%; }

article {
  position: relative;
  display: inline-block;
  width: 180px;
  height: 270px;
  overflow: hidden;
  vertical-align: top;
  margin-bottom: 16px;
  perspective: 500px; }

article {
  margin-left: 16px; }


.info {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  padding: 12px;
  background-color: rgba(0, 0, 0, 0.85);
  color: silver;
  height: 269px;
  max-height: 269px;
  overflow: hidden;
  pointer-events: none;
  -webkit-transform: rotate3d(1, 0, 0, 90deg); }

a:hover .info {
  top: 0; }

.in-top .info {
  -webkit-transform-origin: 50% 0%;
  -webkit-animation: in-top 300ms ease 0ms 1 forwards; }

.in-right .info {
  -webkit-transform-origin: 100% 0%;
  -webkit-animation: in-right 300ms ease 0ms 1 forwards; }

.in-bottom .info {
  -webkit-transform-origin: 50% 100%;
  -webkit-animation: in-bottom 300ms ease 0ms 1 forwards; }

.in-left .info {
  -webkit-transform-origin: 0% 0%;
  -webkit-animation: in-left 300ms ease 0ms 1 forwards; }

.out-top .info {
  -webkit-transform-origin: 50% 0%;
  -webkit-animation: out-top 300ms ease 0ms 1 forwards; }

.out-right .info {
  -webkit-transform-origin: 100% 50%;
  -webkit-animation: out-right 300ms ease 0ms 1 forwards; }

.out-bottom .info {
  -webkit-transform-origin: 50% 100%;
  -webkit-animation: out-bottom 300ms ease 0ms 1 forwards; }

.out-left .info {
  -webkit-transform-origin: 0% 0%;
  -webkit-animation: out-left 300ms ease 0ms 1 forwards; }

@-webkit-keyframes in-top {
  from {
    -webkit-transform: rotate3d(-1, 0, 0, 90deg); }

  to {
    -webkit-transform: rotate3d(0, 0, 0, 0deg); } }

@-webkit-keyframes in-right {
  from {
    -webkit-transform: rotate3d(0, -1, 0, 90deg); }

  to {
    -webkit-transform: rotate3d(0, 0, 0, 0deg); } }

@-webkit-keyframes in-bottom {
  from {
    -webkit-transform: rotate3d(1, 0, 0, 90deg); }

  to {
    -webkit-transform: rotate3d(0, 0, 0, 0deg); } }

@-webkit-keyframes in-left {
  from {
    -webkit-transform: rotate3d(0, 1, 0, 90deg); }

  to {
    -webkit-transform: rotate3d(0, 0, 0, 0deg); } }

@-webkit-keyframes out-top {
  from {
    -webkit-transform: rotate3d(0, 0, 0, 0deg); }

  to {
    -webkit-transform: rotate3d(-1, 0, 0, 102deg); } }

@-webkit-keyframes out-right {
  from {
    -webkit-transform: rotate3d(0, 0, 0, 0deg); }

  to {
    -webkit-transform: rotate3d(0, -1, 0, 102deg); } }

@-webkit-keyframes out-bottom {
  from {
    -webkit-transform: rotate3d(0, 0, 0, 0deg); }

  to {
    -webkit-transform: rotate3d(1, 0, 0, 101deg); } }

@-webkit-keyframes out-left {
  from {
    -webkit-transform: rotate3d(0, 0, 0, 0deg); }

  to {
    -webkit-transform: rotate3d(0, 1, 0, 102deg); } }

.trailer, .flex-video {
  max-height: 600px; }

ul.inline li {
  display: inline; }

#moviepage {
  width: 980px;
  margin: 0 auto;
  color: #fff; }

/* ====== media ====== */
.media {
  margin: 10px; }

.media, .bd {
  overflow: hidden;
  _overflow: visible;
  zoom: 1; }

.media .img {
  float: left;
  margin-right: 10px; }

.media .img img {
  display: block; }

.media .imgExt {
  float: right;
  margin-left: 10px; }
