
/* line 39, ../sass/dark.scss */
body {
  font-family: "Open Sans", Helvetica, Arial;
  font-size: 1.6rem;
  line-height: 1.6rem;
  color: #828a8f;
  font-size: 1.5rem;
  background-color: #eeebe4;
  color: rgba(255,255,255,0.6);
  font-family: "Montserrat", "Helvetica Neue", Arial;
}



/* line 106, ../sass/dark.scss */
article header {
  border-bottom: 1px solid #2e2e2e;
  padding: 2rem;
}
/* line 111, ../sass/dark.scss */
article .content h3 {
  padding: 1rem 2rem;
  margin: 0;
}
/* line 115, ../sass/dark.scss */
article .content .desc {
  font-size: 1.6rem;
  line-height: 3.2rem;
  color: #fff;
}
/* line 121, ../sass/dark.scss */
article .content p {
  margin-bottom: 0;
  margin-top: 1.7rem;
  padding: 0 2rem;
}
/* line 127, ../sass/dark.scss */
article footer {
  border-top: 0.1rem solid #2e2e2e;
  margin-top: 1.7rem;
  padding: 2rem;
}
