border = 5px
color = #000
hover = red

/* anim vars */
w = 400px
h = 300px
duration = 300ms
timingfn = ease
/* colors */
turquoise = #1ABC9C
wet-asphalt = #34495E
midnight-blue = #2C3E50
clouds = #ECF0F1

/* mixins */
vendor(prop, args)
  -webkit-{prop} args
     -moz-{prop} args
      -ms-{prop} args
       -o-{prop} args
          {prop} args

transform()
  vendor('transform', arguments)
 
transform-origin()
  vendor('transform-origin', arguments)          

*
  box-sizing border-box
  padding 0
  margin 0

body
  background-color #fff
  width 100%
  padding 5%
ul
  list-style none
  li
    display inline-block
    margin-bottom border * 2
    margin-right border
    position relative
    perspective 500px
    border border solid color
    width 400px + (2 * border)
    height 300px + (2 * border)
    img
      font-size 0px
      max-width 100%
      height 300px
    .meta
      position absolute
      top 0
      left 0
      opacity 0
      background-color #000
      color #fff
      width 100%
      height 100%  
      padding 20px
      //transform rotate3d(1,0,0,90deg)
      transition all 1.5s ease-out 
    &:hover
      .meta 
        opacity 1    
  //   li.intop 
  //     .meta
  //       transform-origin(50% 0%)
  //       animation intop duration timingfn 0ms 1 forwards
  //   .inright 
  //     .meta
  //       transform-origin(100% 0%)
  //       animation inright duration timingfn 0ms 1 forwards
  //   .inbottom 
  //     .meta
  //       transform-origin(50% 100%)
  //       animation inbottom duration timingfn 0ms 1 forwards
  //   .inleft 
  //     .meta
  //       transform-origin(0% 0%)
  //       animation inleft duration timingfn 0ms 1 forwards
  //   .outtop 
  //     .meta
  //       transform-origin(50% 0%)
  //       animation outtop duration timingfn 0ms 1 forwards
  //   .outright 
  //     .meta
  //       transform-origin(100% 50%)
  //       animation outright duration timingfn 0ms 1 forwards
  // .outbottom 
  //   .meta
  //     transform-origin(50% 100%)
  //     animation outbottom duration timingfn 0ms 1 forwards
  // .outleft 
  //   .meta
  //     transform-origin(0% 0%)
  //     animation outleft duration timingfn 0ms 1 forwards

// @keyframes intop 
//   0%
//     transform(rotate3d(-1, 0, 0, 90deg))
//   100%
//     transform(rotate3d(0, 0, 0, 0deg))
// @keyframes inright 
//   0% 
//     transform(rotate3d(0, -1, 0, 90deg))
//   100%   
//     transform(rotate3d(0, 0, 0, 0deg))
// @keyframes inbottom 
//   0%
//     transform(rotate3d(1, 0, 0, 90deg))
//   100%   
//     transform(rotate3d(0, 0, 0, 0deg))
// @keyframes inleft 
//   0%
//     transform(rotate3d(0, 1, 0, 90deg))
//   100%   
//     transform(rotate3d(0, 0, 0, 0deg))
// @keyframes outtop 
//   0%
//     transform(rotate3d(0, 0, 0, 0deg))
//   100%   
//     transform(rotate3d(-1, 0, 0, 102deg))
// @keyframes outright 
//   0%
//     transform(rotate3d(0, 0, 0, 0deg))
//   100%   
//     transform(rotate3d(0, -1, 0, 102deg))
// @keyframes outbottom 
//   0%
//     transform(rotate3d(0, 0, 0, 0deg))
//   100%   
//     transform(rotate3d(1, 0, 0, 101deg))
// @keyframes outleft 
//   0%
//     transform(rotate3d(0, 0, 0, 0deg))
//   100%   
//     transform(rotate3d(0, 1, 0, 102deg))