/* anim vars */
/* colors */
/* mixins */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: #fff;
  width: 100%;
  padding: 5%;
}
ul {
  list-style: none;
}
ul li {
  display: inline-block;
  margin-bottom: 10px;
  margin-right: 5px;
  position: relative;
  perspective: 500px;
  border: 5px solid #000;
  width: 410px;
  height: 310px;
}
ul li img {
  font-size: 0px;
  max-width: 100%;
  height: 300px;
}
ul li .meta {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  background-color: #000;
  color: #fff;
  width: 100%;
  height: 100%;
  padding: 20px;
  transition: all 1.5s ease-out;
}
ul li:hover .meta {
  opacity: 1;
}
