html, body{
  height: 100%; 
  width: 100%;
  overflow-x: hidden
}
body {
  background-color: #1F263B;
  font-family: "Ubuntu", Helvetica, Arial;
  font-size: 1.6rem;
}
#thegrid {
  width: 100%;
  position: relative;
}
.panel {
  background-color: rgb(57,67,97);
  border-radius: 4px;
}
.tile { 
  width: 400px;
  float: left;
  position: relative;
  margin: 0 10px 10px 0;
}
figure {
	margin: 0;
}
img, iframe {
  max-width: 100%;
  max-height: 300px;
}
article header {
  border-bottom: 0.2rem solid #1F263B;
}
article footer {
  border-top: 0.2rem solid #1F263B;
} 
.yt-header {
  background-color: #CD314C;
}
.desc a {
	display: block;
}