html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}
body {
  background-color: #1f263b;
  font-family: "Ubuntu", Helvetica, Arial;
  font-size: 1.6rem;
}
#thegrid {
  width: 100%;
  position: relative;
}
.panel {
  background-color: #394361;
  border-radius: 4px;
}
.tile {
  width: 400px;
  float: left;
  position: relative;
  margin: 0 10px 10px 0;
}
figure {
  margin: 0;
}
img,
iframe {
  max-width: 100%;
  max-height: 300px;
}
article header {
  border-bottom: 0.2rem solid #1f263b;
}
article footer {
  border-top: 0.2rem solid #1f263b;
}
.yt-header {
  background-color: #cd314c;
}
.desc a {
  display: block;
}
