@import url(http://fonts.googleapis.com/css?family=Bree+Serif);
/* fonts */
/* vars */
/* colors */
/* {@include box-sizing(border-box)}*/
/* line 17, ../sass/hover.scss */
body {
  background-color: #fff;
}

/* line 21, ../sass/hover.scss */
h1 {
  margin: 0 auto 5px;
  text-align: center;
}

/* line 22, ../sass/hover.scss */
h3 {
  font-family: 'Bree Serif', serif;
}

/* line 23, ../sass/hover.scss */
.container {
  width: 840px;
  margin: 0 auto;
}

/* line 24, ../sass/hover.scss */
header {
  font-family: 'Bree Serif', serif;
  text-align: center;
  margin: 50px 0 25px;
  color: #34495e;
}
/* line 28, ../sass/hover.scss */
header p {
  margin: 0;
  color: rgba(52, 73, 94, 0.4);
}

/* line 34, ../sass/hover.scss */
ul {
  padding: 0;
  margin: 0 0 50px;
}
/* line 35, ../sass/hover.scss */
ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

/* line 38, ../sass/hover.scss */
article {
  position: relative;
  overflow: hidden;
  border-radius: 4px;
  list-style: none;
  float: left;
  width: 200px;
  height: 180px;
  margin: 5px;
  padding: 0;
  perspective: 500px;
}
/* line 49, ../sass/hover.scss */
article a {
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  border-radius: 4px;
}
/* line 55, ../sass/hover.scss */
article h3 {
  margin: 0;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.9);
}
/* line 58, ../sass/hover.scss */
article p {
  font-size: 12px;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.8);
}
/* line 61, ../sass/hover.scss */
article .normal {
  width: 100%;
  height: 100%;
  background-color: #ecf0f1;
  color: rgba(52, 73, 94, 0.6);
  box-shadow: inset 0 2px 20px #e6ebed;
  text-align: center;
  font-size: 50px;
  line-height: 180px;
}
/* line 71, ../sass/hover.scss */
article .normal svg {
  pointer-events: none;
  width: 50px;
}
/* line 74, ../sass/hover.scss */
article .normal svg path {
  fill: rgba(52, 73, 94, 0.2);
}
/* line 79, ../sass/hover.scss */
article .info {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  border-radius: 4px;
  pointer-events: none;
  background-color: rgba(26, 188, 156, 0.9);
  transform: rotate3d(1, 0, 0, 90deg);
}

/* line 94, ../sass/hover.scss */
.in-top .info {
  transform-origin: 50% 0%;
  animation: in-top 300ms ease 0ms 1 forwards;
}

/* line 98, ../sass/hover.scss */
.in-right .info {
  transform-origin: 100% 0%;
  animation: in-right 300ms ease 0ms 1 forwards;
}

/* line 102, ../sass/hover.scss */
.in-bottom .info {
  transform-origin: 50% 100%;
  animation: in-bottom 300ms ease 0ms 1 forwards;
}

/* line 106, ../sass/hover.scss */
.in-left .info {
  transform-origin: 0% 0%;
  animation: in-left 300ms ease 0ms 1 forwards;
}

/* line 111, ../sass/hover.scss */
.out-top .info {
  transform-origin: 50% 0%;
  animation: out-top 300ms ease 0ms 1 forwards;
}

/* line 115, ../sass/hover.scss */
.out-right .info {
  transform-origin: 100% 50%;
  animation: out-right 300ms ease 0ms 1 forwards;
}

/* line 119, ../sass/hover.scss */
.out-bottom .info {
  transform-origin: 50% 100%;
  animation: out-bottom 300ms ease 0ms 1 forwards;
}

/* line 123, ../sass/hover.scss */
.out-left .info {
  transform-origin: 0% 0%;
  animation: out-left 300ms ease 0ms 1 forwards;
}

@keyframes in-top {
  /* line 129, ../sass/hover.scss */
  from {
    transform: rotate3d(-1, 0, 0, 90deg);
  }

  /* line 130, ../sass/hover.scss */
  to {
    transform: rotate3d(0, 0, 0, 0deg);
  }
}

@keyframes in-right {
  /* line 132, ../sass/hover.scss */
  from {
    transform: rotate3d(0, -1, 0, 90deg);
  }

  /* line 133, ../sass/hover.scss */
  to {
    transform: rotate3d(0, 0, 0, 0deg);
  }
}

@keyframes in-bottom {
  /* line 135, ../sass/hover.scss */
  from {
    transform: rotate3d(1, 0, 0, 90deg);
  }

  /* line 136, ../sass/hover.scss */
  to {
    transform: rotate3d(0, 0, 0, 0deg);
  }
}

@keyframes in-left {
  /* line 138, ../sass/hover.scss */
  from {
    transform: rotate3d(0, 1, 0, 90deg);
  }

  /* line 139, ../sass/hover.scss */
  to {
    transform: rotate3d(0, 0, 0, 0deg);
  }
}

@keyframes out-top {
  /* line 142, ../sass/hover.scss */
  from {
    transform: rotate3d(0, 0, 0, 0deg);
  }

  /* line 143, ../sass/hover.scss */
  to {
    transform: rotate3d(-1, 0, 0, 102deg);
  }
}

@keyframes out-right {
  /* line 145, ../sass/hover.scss */
  from {
    transform: rotate3d(0, 0, 0, 0deg);
  }

  /* line 146, ../sass/hover.scss */
  to {
    transform: rotate3d(0, -1, 0, 102deg);
  }
}

@keyframes out-bottom {
  /* line 148, ../sass/hover.scss */
  from {
    transform: rotate3d(0, 0, 0, 0deg);
  }

  /* line 149, ../sass/hover.scss */
  to {
    transform: rotate3d(1, 0, 0, 101deg);
  }
}

@keyframes out-left {
  /* line 151, ../sass/hover.scss */
  from {
    transform: rotate3d(0, 0, 0, 0deg);
  }

  /* line 152, ../sass/hover.scss */
  to {
    transform: rotate3d(0, 1, 0, 102deg);
  }
}
