/* line 1, ../sass/styles.scss */
* {
  box-sizing: border-box;
}

/* line 5, ../sass/styles.scss */
*:before,
*:after {
  display: table;
}

/* line 8, ../sass/styles.scss */
body {
  max-width: 1480px;
  margin: 0 auto;
  background-image: url("../images/bk_body.jpg");
}

/* line 13, ../sass/styles.scss */
.mainheader, h1 {
  color: #AE0345;
}

/* line 16, ../sass/styles.scss */
#featured {
  height: 516px;
  display: block;
}

/* line 20, ../sass/styles.scss */
h1 {
  font-size: 26px;
}

/* line 23, ../sass/styles.scss */
figure {
  margin: 0;
  padding: 0;
}

/* line 27, ../sass/styles.scss */
figure {
  width: 180px;
  height: 269px;
}

/* line 31, ../sass/styles.scss */
img {
  height: 267px;
  width: 100%;
  border-radius: 8px;
}

/* line 36, ../sass/styles.scss */
.poster {
  width: 344px;
  height: 510px;
}

/* line 40, ../sass/styles.scss */
.poster > img {
  height: 100%;
}

/* line 44, ../sass/styles.scss */
article {
  position: relative;
  display: inline-block;
  width: 180px;
  height: 270px;
  overflow: hidden;
  vertical-align: top;
  margin-bottom: 16px;
  perspective: 500px;
}

/* line 54, ../sass/styles.scss */
article {
  margin-left: 16px;
}

/* line 60, ../sass/styles.scss */
.info {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  padding: 12px;
  background-color: rgba(0, 0, 0, 0.85);
  color: silver;
  height: 269px;
  max-height: 269px;
  overflow: hidden;
  pointer-events: none;
  -webkit-transform: rotate3d(1, 0, 0, 90deg);
}

/* line 76, ../sass/styles.scss */
a:hover .info {
  top: 0;
}

/* line 80, ../sass/styles.scss */
.in-top .info {
  -webkit-transform-origin: 50% 0%;
  -webkit-animation: in-top 300ms ease 0ms 1 forwards;
}

/* line 84, ../sass/styles.scss */
.in-right .info {
  -webkit-transform-origin: 100% 0%;
  -webkit-animation: in-right 300ms ease 0ms 1 forwards;
}

/* line 88, ../sass/styles.scss */
.in-bottom .info {
  -webkit-transform-origin: 50% 100%;
  -webkit-animation: in-bottom 300ms ease 0ms 1 forwards;
}

/* line 92, ../sass/styles.scss */
.in-left .info {
  -webkit-transform-origin: 0% 0%;
  -webkit-animation: in-left 300ms ease 0ms 1 forwards;
}

/* line 97, ../sass/styles.scss */
.out-top .info {
  -webkit-transform-origin: 50% 0%;
  -webkit-animation: out-top 300ms ease 0ms 1 forwards;
}

/* line 101, ../sass/styles.scss */
.out-right .info {
  -webkit-transform-origin: 100% 50%;
  -webkit-animation: out-right 300ms ease 0ms 1 forwards;
}

/* line 105, ../sass/styles.scss */
.out-bottom .info {
  -webkit-transform-origin: 50% 100%;
  -webkit-animation: out-bottom 300ms ease 0ms 1 forwards;
}

/* line 109, ../sass/styles.scss */
.out-left .info {
  -webkit-transform-origin: 0% 0%;
  -webkit-animation: out-left 300ms ease 0ms 1 forwards;
}

@-webkit-keyframes in-top {
  /* line 115, ../sass/styles.scss */
  from {
    -webkit-transform: rotate3d(-1, 0, 0, 90deg);
  }

  /* line 116, ../sass/styles.scss */
  to {
    -webkit-transform: rotate3d(0, 0, 0, 0deg);
  }
}

@-webkit-keyframes in-right {
  /* line 118, ../sass/styles.scss */
  from {
    -webkit-transform: rotate3d(0, -1, 0, 90deg);
  }

  /* line 119, ../sass/styles.scss */
  to {
    -webkit-transform: rotate3d(0, 0, 0, 0deg);
  }
}

@-webkit-keyframes in-bottom {
  /* line 121, ../sass/styles.scss */
  from {
    -webkit-transform: rotate3d(1, 0, 0, 90deg);
  }

  /* line 122, ../sass/styles.scss */
  to {
    -webkit-transform: rotate3d(0, 0, 0, 0deg);
  }
}

@-webkit-keyframes in-left {
  /* line 124, ../sass/styles.scss */
  from {
    -webkit-transform: rotate3d(0, 1, 0, 90deg);
  }

  /* line 125, ../sass/styles.scss */
  to {
    -webkit-transform: rotate3d(0, 0, 0, 0deg);
  }
}

@-webkit-keyframes out-top {
  /* line 128, ../sass/styles.scss */
  from {
    -webkit-transform: rotate3d(0, 0, 0, 0deg);
  }

  /* line 129, ../sass/styles.scss */
  to {
    -webkit-transform: rotate3d(-1, 0, 0, 102deg);
  }
}

@-webkit-keyframes out-right {
  /* line 131, ../sass/styles.scss */
  from {
    -webkit-transform: rotate3d(0, 0, 0, 0deg);
  }

  /* line 132, ../sass/styles.scss */
  to {
    -webkit-transform: rotate3d(0, -1, 0, 102deg);
  }
}

@-webkit-keyframes out-bottom {
  /* line 134, ../sass/styles.scss */
  from {
    -webkit-transform: rotate3d(0, 0, 0, 0deg);
  }

  /* line 135, ../sass/styles.scss */
  to {
    -webkit-transform: rotate3d(1, 0, 0, 101deg);
  }
}

@-webkit-keyframes out-left {
  /* line 137, ../sass/styles.scss */
  from {
    -webkit-transform: rotate3d(0, 0, 0, 0deg);
  }

  /* line 138, ../sass/styles.scss */
  to {
    -webkit-transform: rotate3d(0, 1, 0, 102deg);
  }
}

/* line 140, ../sass/styles.scss */
.trailer, .flex-video {
  max-height: 600px;
}

/* line 143, ../sass/styles.scss */
ul.inline li {
  display: inline;
}

/* line 146, ../sass/styles.scss */
#moviepage {
  width: 980px;
  margin: 0 auto;
  color: #fff;
}

/* ====== media ====== */
/* line 152, ../sass/styles.scss */
.media {
  margin: 10px;
}

/* line 153, ../sass/styles.scss */
.media, .bd {
  overflow: hidden;
  _overflow: visible;
  zoom: 1;
}

/* line 154, ../sass/styles.scss */
.media .img {
  float: left;
  margin-right: 10px;
}

/* line 155, ../sass/styles.scss */
.media .img img {
  display: block;
}

/* line 156, ../sass/styles.scss */
.media .imgExt {
  float: right;
  margin-left: 10px;
}
