<article class="unit size1of5" itemscope itemtype="http://schema.org/Movie">
	<a href="/movie/{{id}}">
		<figure class="img icon">
			<img itemprop="image" src="{{posters.detailed}}" data-cid="{{id}}"/>
		</figure>
		<section class="info">
			<header>
				<h1 itemprop="name" data-cid="{{id}}">{{title}}</h1>
			</header>
			<p itemprop="description">
				{{synopsis}}
			</p>
			<p>
			{{#each abridged_cast }}
				<small itemprop="actor" itemscope itemtype="http://schema.org/Person">
					<b itemprop="name">{{this.name}},</b>&nbsp;
				</small>
			{{/each}}
			</p>
		</section>
	</a>
</article>