<article class="tile four columns">
  {{! <a href="/movie/{{id}"> }}
  <div class="panel radius {{#if_gt ratings.critics_score compare=90}}vip{{/if_gt}}">
    {{! <header class="meta">
      <span class="author">Mashappslabs</span>
      <span class="time">2:02:33 AM</span>
    </header> }}
    <section class="content">
        <figure>
          <img src="{{posters.detailed}}" />
          {{! <img width="400" height="300"
          data-frz-src="{{image_url}"
          src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==
          onload=lzld(this) onerror=lzld(this)" /> }}
        </figure>
      <div class="details">
        <span class="arrow">&nbsp;</span>
        <h3>{{title}}</h3>  
        
      </div>
    </section>
    <footer class="yt-footer">
      <span><b>{{views_count}}</b> views </span>
      <span><b>{{comments_count}} comments </b></span>
      <span><b>{{likes_count}}</b> likes</span>
    </footer>
  </div>  
  {{! </a> }}
</article>
