<style>
	body {
		background-image:url({{m.posters.original}});
		background-size: cover;
		background-position: fixed;
	}
	#moviepage {
		background-color: rgba(0,0,0,0.75);
	}
</style>
<section id="moviepage">
	<header>
		<h1 class="mainheader" itemprop="name">{{m.title}}</h1>
	</header>
	<section class="trailer">
		<div class="" itemprop="trailer">
			<iframe width="100%" height="600" src="//www.youtube.com/embed/{{m.yt-trailer.0.id}}?rel=0" frameborder="0" allowfullscreen itemprop="url"></iframe>
		</div>
	</section>
	<section class="media">
		<div class="hero img">
			<figure class="poster">
				<img src="{{m.posters.original}}" alt="" itemprop="image" />
			</figure>
		</div>
		<div class="info bd">	
			<h3>Cast</h3>
			<ul class="inline">
				{{#each m.abridged_cast}}
					<li itemprop="actor" itemscope itemtype="http://schema.org/Person">
						<span itemprop="name">{{this.name}} </span>
					</li>
				{{/each}}
			</ul>
			<h3>Synopsis</h3>
			<p itemprop="description">{{m.synopsis}}</p>
		</div>
	</section>
</section>