<nav>
  <ul>hello
    {{#each categories}}
      <li>
        <a href="cat/{{name}}">{{name}}  - movies</a>
        {{#if categories.sub}}
          <ul class="subcat">
            <li>
              {{#each categories.sub}}
                <a href="cat/{{{categories.name}}}/{{.}}">{{.}}</a>
              {{/each}}  
            </li>
          </ul>  
        {{/if}}
      </li>
    {{/each}}
  </ul>
</nav>