<header>
  <h1 class="mainheader">
  	Trailerapp v1.0.0
  </h1>
  {{> nav}}
</header>
<section id="featured">
  <div>
    <figure>
      <img src="http://zapp.trakt.us/images/fanart_movies/193058.jpg?3" alt="">
      <figcaption></figcaption>
    </figure>
  </div>
</section>
<section id="thegrid"> 
  {{!-- <article class="tile four columns box-office" >
  
  <div class="panel radius">
    
    <section class="content">
        <figure>
          <img src="http://content6.flixster.com/movie/11/16/65/11166572_ori.jpg">
          
        </figure>
      <div class="details">
        <span class="arrow">&nbsp;</span>
        <h3>Silver Linings Playbook</h3>  
        
      </div>
    </section>
    <footer class="yt-footer">
      <span><b></b> views </span>
      <span><b> comments </b></span>
      <span><b></b> likes</span>
    </footer>
  </div>   
  
</article>
--}}
  {{#each m.movies}}
  	{{> movies/article}}
  {{/each}} 
</section>