<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>TrailerApp - {{page}}</title>
  <link rel="stylesheet" href="/css/foundation.min.css" />
  <link rel="stylesheet" href="/css/styles.css" />
</head>
<body id="moviepage" itemscope itemtype="http://schema.org/Movie" itemid="imdb:{{m.alternate_ids.imdb}}">
	{{{body}}}
</body>
</html>