<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>TrailerApp - {{page}}</title>
  <link rel="stylesheet" href="/css/foundation.min.css" />
  <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
	{{{body}}}
<script src="/javascript/Directional.js"></script>
<script>
  window.onload = function() {
    var dir = new Directional("article");
  }
</script>  
</body>
</html>