<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>TrailerApp - {{page}}</title>
  <link rel="stylesheet" href="/css/new.css">
</head>
<body>
	{{{body}}}
<script src="/javascript/plugins/jquery.js"></script>
<script src="/javascript/plugins/imagesloaded.js"></script>
<script src="/javascript/plugins/packery.pkgd.js"></script>
{{! <script src="/javascript/plugins/jquery.wookmark.js"></script> }}
<script>
  $(document).ready(function() {
    $(document).imagesLoaded(function() {
        var $container = $('#thegrid'); 
        {{! $("article").wookmark({
          align: "center",
          autoResize: true, // This will auto-update the layout when the browser window is resized.
          container: $container, // Optional, used for some extra CSS styling
          offset: 24, // Optional, the distance between grid items
          //itemWidth: 400 // Optional, the width of a grid item,
        }); }}
        $container.packery({
        itemSelector: 'article',
        gutter: 30
      });
    });
  });
</script>  
</body>
</html>