#container{
	width: 1010px;
	height: 533px;
}

.slide{
	width: 1010px;
	height: 533px;
}

.s1{
	background-image: url(frame1.jpg);
}

.s2{
	background-image: url(frame2.jpg);
}

.s3{
	background-image: url(frame3.jpg);
}

.s4{
	background-image: url(frame4.jpg);
}
